bundle.js
node_modules
.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

server/public
#Electron-builder output
/dist_electron
stats.html

test-report.xml
coverage
built

docs/.vitepress/dist
docs/.vitepress/cache
~

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*.tgz



node_modules
logs-express
.env
globalConfig.json
test-report.xml
coverage
yarn-error.log
**/*.turbo
**/*dist
!**/*.turbo/config.json
!.turbo/config.json
sandbox
lerna-debug.log
.pnp.*