@mixin backgroundGradient {
  $gradient: 160deg, rgba(var(--BgColorAccentGradient), 1), rgba(var(--BgColorAccent), 1);
  background: var(--headerBgColorAccent);
  background: -webkit-linear-gradient($gradient);
  background: linear-gradient($gradient);
  color: white;
  ion-icon{
    color: white;
  }
}
@mixin backgroundGradientImage($opacity, $imageUrl) {
  $gradient: 160deg, rgba(var(--BgColorAccentGradient), $opacity), rgba(var(--BgColorAccent), $opacity);
  background: var(--headerBgColorAccent);
  background: -webkit-linear-gradient($gradient);
  background: linear-gradient($gradient);
  color: white;
  position: relative;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($imageUrl);
    background-size: cover;
    background-position: right;
  }
}

@mixin card-template($color1, $color2, $color3) {
  background: $color1;
  background: linear-gradient(93deg, $color1 0%, $color2 100%);
  color: white;
  box-shadow: 0 0 5px 0 $color3;
  &::before,
  &::after {
    box-shadow:
      inset 0 0 50px $color1,
      inset -20px 0 300px $color1,
      0 0 50px #fff,
      -10px 0 80px $color1,
      10px 0 80px $color1;
  }
}
@mixin card() {
  @include card-template(var(--system-accent-backgroundColor1), var(--system-accent-backgroundColor2), var(--system-accent-backgroundColor3-lighter));
}
@mixin card-darker() {
  @include card-template(var(--system-accent-backgroundColor1-darker), var(--system-accent-backgroundColor2-darker), var(--system-accent-backgroundColor3-darkest));
}
@mixin card-darkest() {
  @include card-template(var(--system-accent-backgroundColor1-darkest), var(--system-accent-backgroundColor2-darkest), var(--system-accent-backgroundColor3-darkest));
}
@mixin card-secondary() {
  @include card-template(var(--system-accent-backgroundColor1-secondary), var(--system-accent-backgroundColor2-secondary), var(--system-accent-backgroundColor3-secondary));
}
@mixin card-tertiary() {
  @include card-template(var(--system-accent-backgroundColor1-tertiary), var(--system-accent-backgroundColor2-tertiary), var(--system-accent-backgroundColor3-tertiary));
}